@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=IBM+Plex+Serif:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700;800&family=Karla:ital,wght@0,400;0,600;0,700;1,400;1,500&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Readex+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
p {
  font-family: theme('fontFamily.body');
}
